Research___Source_Verification.json
{
  "name": "Data Scraper and Source Validator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI-Powered Research & Post Generator",
        "formDescription": "Submit your topic to let the AI analyze multiple online sources, extract key insights, and compile them into a structured, informative, and engaging post.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Email",
              "fieldType": "email"
            },
            {
              "fieldLabel": "The Topic you want to share about"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.5,
      "position": [
        -1392,
        -32
      ],
      "id": "c098ecfd-80e4-4f98-8dbd-e39b3662eb88",
      "name": "Submission of Topic to post ",
      "webhookId": ""
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['The Topic you want to share about'] }}",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "You are a web research AI agent.\n\nYour task is to:\n- Read the topic provided by the user.\n- Use Perplexity to search for recent and credible blog posts or news articles related to the topic.\n- Collect a maximum of 3 valid URLs.\n- Prioritize content published within the last 1\u20132 years.\n- Only include reliable sources (official websites, recognized blogs, reputable publications).\n- Avoid duplicate links.\n- Do NOT generate summaries or explanations.\n- Return output strictly in valid JSON format.\n\nThe response MUST follow this exact structure:\n\n{\n  \"topic\": \"<submitted_topic>\",\n  \"total_links\": <number>,\n  \"links\": [\n    {\n      \"title\": \"Article Title\",\n      \"url\": \"https://example.com\",\n      \"source\": \"Website Name\",\n      \"published_date\": \"YYYY-MM-DD\"\n    }\n  ]\n}\n\nRules:\n- Maximum 10 links.\n- total_links must match the number of items in the links array.\n- If no valid links are found, return:\n{\n  \"topic\": \"<submitted_topic>\",\n  \"total_links\": 0,\n  \"links\": []\n}\n- Return ONLY JSON. No extra text.\n\n\nCRITICAL:\n- Return raw JSON only.\n- Do NOT wrap in markdown.\n- Do NOT include ```json\n- Do NOT add explanations.\n- Do NOT add text before or after the JSON.\n- The first character must be {\n- The last character must be }\n- Ensure total_links equals the number of items in links."
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1104,
        -32
      ],
      "id": "b3e312ec-5fb8-404c-9f01-fb9455aaf6a9",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "perplexity/sonar",
        "options": {
          "frequencyPenalty": 1,
          "maxTokens": 400,
          "responseFormat": "text",
          "presencePenalty": 0,
          "temperature": 0.3,
          "topP": 0.9
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -1104,
        224
      ],
      "id": "bf2c7f68-b2f6-4487-9439-df01ed1b0a99",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "",
          "name": "YOUR_OPENROUTERAPI"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"topic\": \"Artificial Intelligence in Healthcare\",\n  \"links\": [\n    {\n      \"title\": \"How AI Is Transforming Healthcare in 2025\",\n      \"url\": \"https://www.healthtechblog.com/ai-transforming-healthcare-2025\",\n      \"source\": \"HealthTech Blog\",\n      \"published_date\": \"2025-01-15\"\n    },\n    {\n      \"title\": \"The Role of Machine Learning in Modern Medicine\",\n      \"url\": \"https://www.medicalnews.com/machine-learning-modern-medicine\",\n      \"source\": \"Medical News\",\n      \"published_date\": \"2024-11-02\"\n    },\n    {\n      \"title\": \"AI-Powered Diagnostics: A New Era\",\n      \"url\": \"https://www.forbes.com/sites/healthcare/ai-powered-diagnostics\",\n      \"source\": \"Forbes\",\n      \"published_date\": \"2024-09-18\"\n    }\n  ]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -960,
        224
      ],
      "id": "c0d96638-991f-42e2-b88a-cd1a47aa3e8d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "jsCode": "// 1. Get the email from the previous node\nconst userEmail = $('Submission of Topic to post ').first().json.Email || \"\";\n\n// Generate tracking ID\nconst trackId = \"eml_\" + Date.now().toString(36) + \"_\" + Math.random().toString(36).slice(2, 8);\n\n// Collect URLs from items\nconst sourceUrls = items.map(item => item.json.url);\n\n// Get topic safely (fallback if missing)\nconst topic = items[0]?.json?.topic || \"AI Automation Nowadays in Job Market\";\n\n// Encode for URL parameters\nconst encodedUrls = encodeURIComponent(JSON.stringify(sourceUrls));\nconst encodedTopic = encodeURIComponent(topic);\nconst encodedEmail = encodeURIComponent(userEmail); // Encode the email for the URL\n\nlet emailBody = `\n<div style=\"background-color:#f6f8ff;padding:30px 20px;font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; max-width:640px; margin:0 auto;\">\n  <div style=\"background:white; border-radius:16px; overflow:hidden; box-shadow:0 8px 30px rgba(0,0,0,0.08);\">\n    <div style=\"background: linear-gradient(135deg, #6366f1, #8b5cf6); padding:32px 24px; text-align:center; color:white;\">\n      <h2 style=\"margin:0; font-size:24px; font-weight:600;\">Source Verification \u2013 Feb 2026</h2>\n      <p style=\"margin:12px 0 0; font-size:15px; opacity:0.95;\">\n        Topic: <strong>${topic}</strong>\n      </p>\n    </div>\n\n    <div style=\"padding:28px 24px 16px; text-align:center; color:#4b5563; font-size:15px; line-height:1.5;\">\n      Reviewing recent sources on AI automation's impact on jobs (2025\u20132026 data):<br>\n      entry-level pressure + hiring slowdowns in some fields,<br>\n      yet wage growth and new roles in AI-exposed areas.<br><br>\n      If everything looks correct and relevant, please confirm.\n    </div>\n\n    <div style=\"padding:0 24px 32px;\">\n`;\n\nfor (let item of items) {\n  const json = item.json || {};\n  const title       = (json.title || 'Untitled').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const source      = (json.source || 'Unknown').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n  const published   = json.published_date || '\u2014';\n  const snippet     = json.snippet ? json.snippet.replace(/</g, '&lt;').replace(/>/g, '&gt;') : '';\n  const safeUrl     = (json.url || '#').replace(/\"/g, '&quot;').replace(/</g, '&lt;').replace(/>/g, '&gt;');\n\n  emailBody += `\n      <div style=\"background:#ffffff; border:1px solid #e2e8f0; border-radius:12px; margin:16px 0; padding:20px 24px; box-shadow:0 2px 8px rgba(0,0,0,0.04);\">\n        <h3 style=\"margin:0 0 10px; font-size:17px; font-weight:600; color:#1e40af;\">\n          ${title}\n        </h3>\n        <div style=\"color:#64748b; font-size:13.5px;\">\n          <strong style=\"color:#334155;\">${source}</strong> \u2022 ${published}\n        </div>\n        ${snippet ? `<div style=\"margin:16px 0; padding:14px; background:#f8fafc; border-radius:8px; border-left:4px solid #a5b4fc; font-size:14px; color:#475569;\">${snippet}</div>` : \"\"}\n        <div style=\"margin-top:12px; font-size:13px; color:#9ca3af;\">\n          <a href=\"${safeUrl}\" style=\"color:#3b82f6; text-decoration:none;\">\u2192 Read article</a>\n        </div>\n      </div>`;\n}\n\nemailBody += `\n    </div>\n\n    <div style=\"padding:28px 24px; text-align:center; border-top:1px solid #e2e8f0; background:#f8fafc;\">\n      <p style=\"margin:0 0 20px; color:#334155; font-size:15px; font-weight:500;\">\n        All sources verified as correct & relevant?\n      </p>\n      <a href=\"YOUR_WEBHOOK_BASE_URL\"\n         style=\"display:inline-block; padding:14px 40px; background:#10b981; color:white; text-decoration:none; font-weight:600; font-size:16px; border-radius:10px; box-shadow:0 4px 14px rgba(16,185,129,0.25);\">\n         Verify All Sources\n      </a>\n      <p style=\"margin:16px 0 0; font-size:13px; color:#9ca3af;\">\n        Confirms all sources are accurate for topic: ${topic}\n      </p>\n    </div>\n\n    <div style=\"padding:20px 24px; text-align:center; background:#f8fafc; border-top:1px solid #e2e8f0; font-size:13px; color:#9ca3af;\">\n      Topic: ${topic} \u2022 Verification \u2022 ${new Date().toLocaleDateString('en-US', { month: 'long', day: 'numeric', year: 'numeric' })}\n    </div>\n  </div>\n</div>`;\n\nconst verificationPayload = {\n  vid: trackId,\n  topic: topic,\n  urls: sourceUrls,\n  email: userEmail, // Also added to the payload\n  status: \"pending\"\n};\n\nreturn [\n  { json: { emailBody, email: userEmail } } // Passing it out of the node here too\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -64,
        272
      ],
      "id": "a46092df-53eb-429b-888d-dfd02d4b302f",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Submission of Topic to post ').item.json.Email }}",
        "subject": "=Please Verify Sources for  {{ $('Data Formatting ').item.json.topic }}.",
        "message": "={{ $json.emailBody }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        256,
        272
      ],
      "id": "2c79d204-51ec-45c8-9994-802852ac8132",
      "name": "Send a message",
      "webhookId": "",
      "credentials": {
        "gmailOAuth2": {
          "id": "",
          "name": "YOUR_GMAILOAUTH2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// inputData = items from previous node\nlet results = [];\n\nfor (let item of items) {\n  const topic = item.json.output.topic;\n  const links = item.json.output.links;\n  \n  for (let link of links) {\n    results.push({\n      json: {\n        topic: topic,\n        title: link.title,\n        url: link.url,\n        source: link.source,\n        published_date: link.published_date\n      }\n    });\n  }\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        -32
      ],
      "id": "db92e3dc-86f0-441d-8ebf-70c404daf8a6",
      "name": "Data Formatting "
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "17LJzDpl6NVCoZwoXxl3xRix06s_TBVJpPyHugmxQmnQ",
          "mode": "list",
          "cachedResultName": "Post Topic Meta data ",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17LJzDpl6NVCoZwoXxl3xRix06s_TBVJpPyHugmxQmnQ/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/17LJzDpl6NVCoZwoXxl3xRix06s_TBVJpPyHugmxQmnQ/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Topic": "={{ $json.topic }}",
            "Title": "={{ $json.title }}",
            "URL": "={{ $json.url }}",
            "Source": "={{ $json.source }}",
            "Published Date": "={{ $json.published_date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Topic",
              "displayName": "Topic",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Title",
              "displayName": "Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "URL",
              "displayName": "URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Published Date",
              "displayName": "Published Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -48,
        -272
      ],
      "id": "afa45157-91f1-4082-be56-fe22b0fdd376",
      "name": "Keep record of the fetching URLs",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "",
          "name": "YOUR_GOOGLESHEETSOAUTH2API"
        }
      }
    },
    {
      "parameters": {
        "content": "# Input Topic about the post ",
        "height": 432,
        "width": 368
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1584,
        -208
      ],
      "id": "a74679f4-d01f-4ca5-ac07-816c6fbe0d49",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "# Perplexity use to fetch sample data with the URL ",
        "height": 656,
        "width": 368,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1168,
        -288
      ],
      "id": "9d24bfb4-a6de-4c6a-8a06-5e2ee2b4ba3f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "# Format the Data for Email and also stored in Sheet for History ",
        "height": 880,
        "width": 720,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -624,
        -400
      ],
      "id": "f4751126-daaf-41de-8906-ed7f4e58eb42",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Using the Formatted data Create HTML template for email and send Email",
        "height": 416,
        "width": 592,
        "color": "#47B85A"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -128,
        80
      ],
      "id": "18d1b899-8d48-4e9c-8eb5-b7b13d0872f3",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Submission of Topic to post ": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Data Formatting ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    },
    "Data Formatting ": {
      "main": [
        [
          {
            "node": "Keep record of the fetching URLs",
            "type": "main",
            "index": 0
          },
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "7aa93450-295c-49ef-a48a-b4e9002da3a9",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "id": "1EW9ID0FiIC2aqIk",
  "tags": []
}